@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu sans", sans-serif;
  }
  
  .display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    color: white;
    border-radius: 14px;
    background-color: rgb(68, 156, 243);
  }
  
  .calculator {
    padding: 24px;
    width: 300px;
    height: 400px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    border: 3px solid black;
    background-color: #b0c4d9;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  /* .row:last-child::before {
    content: "";
    width: 40px;
    height: 40px;
  } */
  
  .number, .operand, .equal, .clear {
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #b68eef;
    border-radius: 14px;
    border: 2px solid #034f1c;
  }
  
  .clear {
    background-color: yellow;
    color: black;
  }

  .operand, .equal {
    background-color: rgb(139, 244, 184);
  }

  .row > .number:hover {
    background-color: #c3a4ee;
  }

  .number:active, .operand:active, .clear:active, .equal:active {
    transform: scale(0.95);
  }

  .row > .operand:hover, .row > .equal:hover {
    background-color: rgb(199, 247, 219);
  }

  .row > .clear:hover {
    background-color: rgb(255, 183, 0);
  }

